.wrap_post {
    position: relative;
    width: 90%;
    height: 90.84vh;
    margin: 0 auto;
    margin-top: 1.5%;
    background-clip: content-box;
    background-color: white;
    align-items: center;
    overflow: auto;
}

.header {
    width: 90%;
    padding-top: 20px;
    margin: 0 auto;
    display: block;
    border-bottom: 2px solid #3b4890;
}

.description_left {
    margin-left: 10px;
}

.description_rigth {
    margin-left: auto;
    margin-right: 20px;
}

.recommand_box {
    margin: 0 auto;
    display: block;
    width: 16%;
    border: 1px solid black;
    border-radius: 4px;
}

.icon {
    margin: auto;
    font-size: 20px;
    cursor: pointer;
}

.count {
    display: block;
    font-size: 20px;
    padding-left: 10%;
    margin: auto;
    color: #104A9B;
}

.editBtn {
    position: relative;
    margin: 0 auto;
    margin-left: 83.5%;
    margin-right: 20px;
    margin-top: 1vh;

}

.deleteBtn {
    position: relative;
    margin-top: 1vh;
    margin-right: 1%;
}

.post_text {
    width: 90%;
    margin: 0 auto;
}