.wrap_inner {
    position: relative;
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    padding-top: 3%;
    background-clip: content-box;
    align-items: center;
    border-radius: 10px;
    overflow: auto;
    font-family: "돋음";
}

.wrap_table {
    width: auto;
    min-height: 60%;
    background-color: white;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 25%);
    font-family: "돋음";
}

.table_header {
    text-decoration: none;
}

.table {
    text-align: center;
}

.table_number {
    width: 80px;
}

.table_title {
    width: 600px;
    
}

.table_author {
    width: 200px;
}

.table_date {
    width: 120px;
}

.table_view {
    width: 100px;
}

.table_suggest {
    width: 100px;
}

.title_text {
    text-align: left;
}

.text {
    text-decoration: none;
    color:black;
}

.paginationbar {
    display: flex;
    margin: auto;
    justify-content: center;
}

.bottom_bar {
    display: flex;
    padding-bottom: 15px;
}

.search_bar {
    display: flex;
    position: relative;
    margin-left: 33%;
    
}

.search_input {
    width: 23vw;
    margin-right: 5px;
}
.write_btn {
    position: relative;
    margin-left: 23%;
}