.wrap_inner {
    position: relative;
    width: 1250px;
    margin: 0 auto;
    padding-top: 60px;
    color: green;
}

.table_header {
    text-decoration: none;
}

.table {
    text-align: center;
}

.table_number {
    width: 80px;
}

.table_title {
    width: 700px;
    
}

.table_author {
    width: 200px;
}

.table_date {
    width: 120px;
}

.table_view {
    width: 100px;
}

.table_suggest {
    width: 100px;
}

.title_text {
    text-align: left;
}

.text {
    text-decoration: none;
    color:black;
}

.paginationbar {
    margin: auto;
    
}

.search_bar {
    margin: auto;
    display: flex;
}