.wrap_inner {
    position: relative;
    width: 80%;
    height: 80.52vh;
    margin: 0 auto;
    padding-top: 3%;
    background-clip: content-box;
    background-color: white;
    align-items: center;
    overflow: auto;
}

.wrapper_class{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding-top: 60px;
    position: relative;
    overflow: auto;
}

.editor {
    overflow: auto;
    max-height: 70vh;
    max-height: 70vh;
    height: 70vh;

}

.submit {
    position: relative;
    margin: 0 auto;
    padding-top: 1vh;
    margin-right: 5vw;
}

.cancel {
    position: relative;
    margin: 0 auto;
    margin-left: 80vw;
}
