.wrap_card {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card_title {
    font-size: 25px;
}

.pwd_form {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.pwd_input {
    margin-bottom: 10px;
}

.submit_btn {
    margin-left: 70%;
    margin-top: 12px;
    width: 20%;
}