.wrap_card {
    width: 500px;
    height: 350px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card_title {
    font-size: 25px;
}

.card_text_wrap {
    margin-top: 8%;
    margin-left: 40px;
}

.card_text {
    font-size: 20px;
}

.submit_auth {
    width: 90%;
    margin-top: 20px;
}

.submit_btn {
    margin-top: 20px;
    margin-left: 69%;
}